@font-face {
	font-family: "quicksand";
  src: url("fonts/quicksand-regular.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/quicksand-regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/quicksand-regular.svg#quicksandregular") format("svg"); /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'deutsch_gothic';
  src: url('fonts/Deutsch-webfont.woff') format('woff'),
       url('fonts/Deutsch-webfont.ttf') format('truetype'),
       url('fonts/Deutsch-webfont.svg#deutsch_gothicnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fixedsys';
  src: url('fonts/fsex300-webfont.woff') format('woff'),
       url('fonts/fsex300-webfont.ttf') format('truetype'),
       url('fonts/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-smooth: never;
}
@font-face {
  font-family: 'kjv1611';
  src: url('fonts/kjv1611.woff2') format('woff2'),
  url('fonts/kjv1611.ttf') format('truetype'),
  url('fonts/kjv1611.svg#kjv1611regular') format('svg');
  font-weight: normal;
  font-style: normal;

}

* {
	box-sizing: border-box;
}
body {
  background: rgb(204,204,204);
  font: 400 12pt/1.2 "quicksand", sans-serif;
  color: #333;
  margin: 0;
}
audio {
	height: 14pt;
	vertical-align: sub;
}
page {
  background: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding: 0.75cm 1cm;
  align-items: flex-start;
  text-align: justify;
  page-break-after: always;
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;  
}
page[no_pad] { padding: 0; }
@media print {
	/*body { transform: scale(149%); }*/
  body, page {
    margin: 0;
    box-shadow: none;
  }
  page[layout="landscape"] {
    transform: rotate(270deg) translate(-297mm, 0);
    transform-origin: 0 0;
  }
}

[small] { font-size: 10pt; }
[named] { font-weight: 600; }
[terminal] { font-family: "fixedsys", monospace; }
[centered] { margin-left: auto; margin-right: auto; }
[fullwidth] { width: calc(100% + 2cm); margin-left: -1cm; }
[fullheight] { height: calc(100% + 0.75cm); margin-bottom: -0.75cm; }

p[writer1], span[writer1] { font-style: italic; color: #8300dd; }
p[writer1], p[writer2] { text-align: right; margin-left: auto; }
page[writer1] { border: solid 1px #8300dd; }
page[writer2] { border: solid 1px #f00; }
p[writer2], span[writer2] { font-style: italic; color: #f00; }

h1 { text-align: center; }
h3 { font: normal 20pt/1 'kjv1611', sans-serif; text-align: center; margin-top: 0.75em; }
h1, h3 { margin-left: auto; margin-right: auto; }
p { margin: 0.1cm 0; }
hr { width: 50%; margin: 1cm auto; border: none; border-top: solid 1px; }
img, video { max-width: 100%; max-height: 100%;  }
a[external] { background-image: url(img/external-link-ltr-icon.svg); background-position: center right; background-repeat: no-repeat; padding-right: 13px; }
code { white-space: pre; font-size: 13px; }
label { position: relative; top: -2px; }

page.black { background: #191919; color: #fff; }

.settings { margin-top: 10cm; width: 65%; text-align: center; }
  .settings > [flex] { display: flex; justify-content: space-between; margin-top: 5mm; font: normal 11pt monospace; }
    .settings > [flex] > * { display: flex; flex-direction: column; align-items: flex-start; }

[bgm] { display: none; }
html.bgm [bgm] { display: unset;}

[meta1] { display: none; }
html.meta1 [meta1] { display: unset; }
html.meta1 [meta_lt1] { display: none; }
[meta2] { display: none; }
html.meta2 [meta2] { display: unset; }
html.meta2 [meta_lt2] { display: none; }
[meta3] { display: none; }
html.meta3 [meta3] { display: unset; }
html.meta3 [meta_lt3] { display: none; }

[white_pen] { color: white; }
page.black [white_pen] { color: #191919; }
[white_pen] ::selection { background-color: transparent; color: #333; }
page.black [white_pen] ::selection { color: gold; }